@{
    ViewBag.Title = "About Us";
}

<div class="col-md-12 hidden-lg">
    <div class="padd"><div class="navis"></div></div>
</div>
<div class="visible-lg">
    <div class="col-md-3 sidey">
        <!-- Sidebar Starts Here -->
        <div class="padd sidebar">
            <!-- Each sidebar should be enclosed inside "widget class" -->
            <!-- 1st widget -->
            <div class="widget">
                <!-- Sidebar heading enclosed inside h3. Don't forget to add the class "matopen". -->
                <h3 class="matopen">Search</h3>
                <!-- Sidebar content should be enclosed inside div with the class "matter". -->
                <div class="matter">
                    <!-- Search form -->
                    <form class="form-inline">
                        <input type="text" class="form-control" placeholder="Type to Search...">
                    </form>
                </div>
            </div>
            <!-- 2nd widget -->
            <div class="widget">
                <h3 class="matopen">Categories</h3>
                <div class="matter">
                    <ul>
                        <li><a href="#">Condimentum</a></li>
                        <li><a href="#">Etiam at</a></li>
                        <li><a href="#">Fusce vel</a></li>
                        <li><a href="#">Vivamus</a></li>
                        <li><a href="#">Pellentesque</a></li>
                    </ul>
                </div>
            </div>
            <!-- 3rd widget -->
            <div class="widget">
                <h3 class="matopen">Recent Posts</h3>
                <div class="matter">
                    <ul>
                        <li><a href="#">Sed eu leo orci, condimentum gravida metus</a></li>
                        <li><a href="#">Etiam at nulla ipsum, in rhoncus purus</a></li>
                        <li><a href="#">Fusce vel magna faucibus felis dapibus facilisis</a></li>
                        <li><a href="#">Vivamus scelerisque dui in massa</a></li>
                        <li><a href="#">Pellentesque eget adipiscing dui semper</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Sidebar Ends Here -->
    </div>
</div>
<div class="col-md-9">
    <div class="whity content">
        <!-- Main Content Starts Here -->
        <!-- Content should be encloased inside div with the class "posts" -->
        <div class="posts">
            <!-- Each entry should be enclosed inside div with the class "entry" -->
            <div class="entry">
                <div class="padd">
                    <!-- About Page title -->
                    <h2>About Us</h2>
                    <!-- About Page Para -->
                    <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis. Aenean porta volutpat neque at suscipit. Quisque a mi velit, vel mollis sapien. Etiam vestibulum bibendum neque, at fermentum leo commodo et. Aenean pharetra, magna et aliquet eleifend, tortor elit suscipit lectus, a dapibus nulla leo et velit. Vestibulum odio erat, porta et hendrerit eu, convallis eget turpis. Cras sit amet nibh dui, a consectetur enim. Nullam sed quam sapien, sit amet venenatis lacus. Vivamus varius suscipit pulvinar.</p>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <!-- Staff #1 -->
                        <div class="staff">
                            <!-- Staff Picture -->
                            <div class="author"><img src="../Content/Outlooker/img/staff/4.jpg" alt="" /></div>
                            <!-- Staff name and designation -->
                            <p class="name">Ashok Kumar<span>Nullam sed</span></p>
                            <!-- Small para about staff -->
                            <p>Vestibulum ornare, risus vel pharetra, sagittis turpis lectus et urna.</p>
                            <!-- Staff social profiles. Replace # with profile link. -->
                            <div class="social">
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <!-- Staff #1 -->
                        <div class="staff">
                            <!-- Staff Picture -->
                            <div class="author"><img src="../Content/Outlooker/img/staff/5.jpg" alt="" /></div>
                            <!-- Staff name and designation -->
                            <p class="name">Jakes David <span>Egestas sed</span></p>
                            <!-- Small para about staff -->
                            <p>Vestibulum ornare, risus vel pharetra, sagittis turpis lectus et urna.</p>
                            <!-- Staff social profiles. Replace # with profile link. -->
                            <div class="social">
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <!-- Staff #1 -->
                        <div class="staff">
                            <!-- Staff Picture -->
                            <div class="author"><img src="../Content/Outlooker/img/staff/6.jpg" alt="" /></div>
                            <!-- Staff name and designation -->
                            <p class="name">Rave Lain <span>Turpis Egestas</span></p>
                            <!-- Small para about staff -->
                            <p>Vestibulum ornare, risus vel pharetra, sagittis turpis lectus et urna.</p>
                            <!-- Staff social profiles. Replace # with profile link. -->
                            <div class="social">
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Ends Here -->
</div>