@model IEnumerable<Outlooker.Data.Topic>

@{
    ViewBag.Title = "Home Page";
}
@section scripts {
    <script src="~/js/home-index.js"></script>
}

<div data-ng-app="HomeIndexModule">
    <div data-ng-controller="homeIndexController">
        <div class="message-header">
            <h1>Message Board</h1>
            <p class="lead">Latest Messages...</p>
            <div>Message Count: <span data-ng-bind="data.length"></span></div>
        </div>

        <div class="progress" data-ng-show="isBusy">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                @*<span class="sr-only">20% Complete</span>*@
            </div>
        </div>

        <div class="messages">
            <div class="message row" data-ng-repeat="i in data">
                <div class="title col-md-10" data-ng-bind="i.title"></div>
                <div class="date col-md-2" data-ng-bind="i.created | date:'medium'"></div>
                <div class="contents col-md-12" data-ng-bind="i.body"></div>
                <div class="toolbar col-md-12"><button class="btn btn-primary reply-button">Reply</button></div>
                <div class="replies col-md-12" data-ng-repeat="r in i.replies">
                    <div class="reply">
                        <div class="created pull-right" data-ng-bind="r.created | date:'medium'"></div>
                        <div class="content" data-ng-bind="r.body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>